<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Einstellungen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Benachrichtigungen</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-toggle [(ngModel)]="settings.notifications" 
                 (ionChange)="toggleNotifications($event)">
        Push-Benachrichtigungen
      </ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Erinnerungszeit</ion-label>
      <ion-datetime-button datetime="reminderTime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime 
            id="reminderTime" 
            [(ngModel)]="settings.reminderTime"
            (ionChange)="saveSettings()"
            presentation="time"
            locale="de-DE">
          </ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-list-header>
      <ion-label>Erscheinungsbild</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-toggle [(ngModel)]="settings.darkMode" 
                 (ionChange)="saveSettings()">
        Dark Mode
      </ion-toggle>
    </ion-item>

  <div class="ion-padding">
    <ion-button expand="block" color="danger" (click)="resetApp()">
      App zurücksetzen
    </ion-button>
  </div>
</ion-content>
